---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <a href="/blog"> Salmon's Blog HERE </a>
</BaseLayout>
